# Importing necessary packages

In [87]:
import yfinance as yf 
import pandas as pd
import matplotlib.pyplot as plt
import datetime

# Retrieving historical data from YFinance

In [146]:
ticker = yf.Ticker('ORCL')
df = ticker.history(interval='1m', start='2023-07-28', end='2023-07-31')
df.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-07-28 09:30:00-04:00,116.680000,116.820000,116.595001,116.750000,41560,0.0,0.0
2023-07-28 09:31:00-04:00,116.779999,116.809998,116.662003,116.769997,2568,0.0,0.0
2023-07-28 09:32:00-04:00,116.809998,116.809998,116.760002,116.760002,1605,0.0,0.0
2023-07-28 09:33:00-04:00,116.800003,116.800003,116.750000,116.750000,751,0.0,0.0
2023-07-28 09:34:00-04:00,116.779999,116.870003,116.779999,116.839996,1773,0.0,0.0

In [147]:
df.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Datetime,,,,,,,
2023-07-28 15:55:00-04:00,116.000000,116.010002,115.879997,115.885002,31324,0.0,0.0
2023-07-28 15:56:00-04:00,115.879997,115.964996,115.875000,115.959999,69154,0.0,0.0
2023-07-28 15:57:00-04:00,115.959999,115.989998,115.940002,115.980003,37301,0.0,0.0
2023-07-28 15:58:00-04:00,115.985001,115.989998,115.955002,115.959999,56289,0.0,0.0
2023-07-28 15:59:00-04:00,115.959999,116.019997,115.949997,116.010002,221936,0.0,0.0

# Removing unwanted columns

In [148]:
columns_to_remove = ['Dividends', 'Stock Splits']
df.drop(columns_to_remove, axis=1, inplace=True)
df.head()

# Reset the index to get the date and time as separate columns
df.reset_index(inplace=True)

# Extract date and time into separate columns
df['Date'] = df['Datetime'].dt.date
df['Time'] = df['Datetime'].dt.time

# Drop the original Datetime column
df.drop('Datetime', axis=1, inplace=True)

# Extracting data into a CSV

In [149]:
# Assuming you have a DataFrame called df

# Perform operations on the DataFrame to create new columns (if needed)

# Save the DataFrame to a CSV file
# df.to_csv('ORCL_Data_From_20230703.csv', index=False)

In [150]:
# # Assuming you have a DataFrame called df with updated values

# # Save the DataFrame to the CSV file in "append" mode
df.to_csv('ORCL_Data_From_20230703.csv', mode='a', index=False, header=False)

# Reading data from the CSV

In [4]:
import pandas as pd
# Read the CSV file and store the data in a DataFrame
df = pd.read_csv('MSFT_Intraday_Data.csv')

# Display the first few rows of the DataFrame
df.tail()

,Open,High,Low,Close,Volume,Date,Time
7203,338.260010,338.529999,337.950012,338.089996,129706,2023-07-28,15:55:00
7204,338.059998,338.170013,337.950012,337.950012,114885,2023-07-28,15:56:00
7205,337.950012,338.000000,337.899994,338.000000,120016,2023-07-28,15:57:00
7206,337.994995,338.109985,337.915009,337.989990,171313,2023-07-28,15:58:00
7207,337.989990,338.410004,337.920013,338.350006,675133,2023-07-28,15:59:00